*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.color{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 50%;
    margin: 2em;

}

input{
    display: none;
}